@model App_consulta.Models.PersonaModel
@{
    ViewData["Title"] = "Detalles " + @Model.Nombre;
    ViewData["Subtitle"] = @Model.Nombre;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row margin-top-50">

    <div class="col-sm-6">
        <div class="row bordeDetallePersona">
            <div class="col-sm-12 align-center">
                <img src="@Model.Foto" style="width: 100%; max-height: 626px">
            </div>
        </div>

    </div>

    <div class="col-sm-6 ">

        <div class="row bordeDetallePersona">
            <div class="col-sm-12">
                <div class="form-group row">

                    <div class="col-sm-12">
                        <h2 class="form-control-plaintext ">@Html.DisplayFor(model => model.Nombre)</h2>

                        <h4 class="form-control-plaintext ">@Html.DisplayFor(model => model.Id)</h4>
                        <input  type="hidden" id="idpersona" value="@Model.Id"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Edad" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Edad)</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Telefono" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Telefono)</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Correo" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Correo)</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="row bordeDetallePersona">
            <div class="col-sm-12">

                <div class="form-group row">

                    <div class="col-sm-12">

                        <h4 class="form-control-plaintext ">Información laboral</h4>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Playa" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Playa.Nombre)</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Actividad" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Actividad.Nombre)</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Ambulante" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Ambulante)</p>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Confianza" class="col-sm-3 col-form-label"></label>
                    <div class="col-sm-9">
                        <p class="form-control-plaintext font-weight-light">@Html.DisplayFor(model => model.Confianza)</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<div class="row bordeDetallePersona">
    <div class="col-sm-12">

        <div class="form-group row">

            <div class="col-sm-8">
                <h4 class="form-control-plaintext ">Pagos</h4>
            </div>
            <div class="col-sm-4">
                @if (ViewBag.pagos == "true")
                {


                    <button class="btn btn-outline-warning width100" type="button" data-toggle="modal" data-target="#modalPago"> Realizar pago </button>
                }
                else @if (ViewBag.pagos == "false")
          {
            <button class="btn btn-outline-success width100" disabled type="button"> Pagos realizados </button>
        }
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="gridContainer" class="row-lm aux-selection"></div>
            </div>
        </div>

    </div>
</div>


<div class="form-group row margin-top-50">

    <div class="col-sm-12 align-center">
        <a asp-action="Listado" class="btn btn btn-outline-dark btn-block">Volver</a>
    </div>
</div>


<partial name="_PopUpPagoPartial" />



@section Scripts {
    <script type="text/javascript" src="~/js/moment.js"></script>
    <script type="text/javascript" src="~/js/tables/PagosListadoScript.js"></script>
    <script type="text/javascript" src="~/js/uploadbox.js"></script>
   
}
